*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: url(./imagens/Yelp.jpg);
    background-size: cover;
    height: 500px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 0;
}
.logo{
    width: 10%;
}
.buscas{
    display: flex;
    align-items: center;
    flex-direction: row;
    width:35%;
}
.search{
    width: 45%;
    height: 40px;
    padding: 5px 5px  ;
    border-radius: 5px;
    background-color: white;
}
.search h3{
    font-size: 16px;
    padding: 10px 10px;
    color: gray;
}
.cidade{
    width: 45%;
    height: 40px;
    padding: 5px 5px  ;
    font-size: 10px;
    border-radius: 5px;
    background-color: white;
}
.cidade h3{
    font-size: 16px;
    padding: 10px 10px;
    color: gray;
}
.botao-busca{
    width: 10%;
    height: 40px;
    padding: 5px 5px  ;
    background-color: red;
    text-align: center;
}
.botao-busca img {
    width: 44px;
    height: 44px;
}
.nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    color: white;
    font-weight: bold;
    font-size: 1.em;
    padding: 5px 25px;
}
.cadastro a{
    
}
.nav2{
    display: flex;
    align-items: center;
}   

.nav a:hover{ 
    background-color: wheat;
    opacity: 0.3;
    color: green;
}